body {
    background-color: darkslategray;
}

.startBtn,
.question_box,
.summary_box {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 10px 0 black,
              0px 10px 25px 0px black;
}

.question_box.activeQuiz {
    z-index:5;
    opacity: 1;
    pointer-events: auto;
    transform:translate(-50%, -50%) scale(1);
}

.startBtn button {
    font-size: 30px;
    font-weight: 275;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.startBtn button:hover {
    background-color: red;
    color: white;
    border-color: black
}
.question_box {
    background-color: white;
    width: 600px;
    border-radius: 5px;
    height: 300px;
    width:700px;
    border-radius: 5px;
    border-style: solid;
    border-color: red;
    opacity: 0;
    pointer-events: none;
    transform:translate(-50%, -50%) scale (1);
}
.question_box header {
    height: 50px;
    padding: 0 15px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-radius: 5px;
}

.question_box .title {
    font-size: 18px;
    font-weight: 500;
    align-content: center;
}

.question_box .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 35px;
    background: #444444;
    border-radius: 5px;
    border-style: solid;
    border-color: red;
}

.question_box .timer .time_text {
    color: white;
    padding-left: 8px;
    font-size: 15px;
    font-weight: 300;
    align-content: center;
    justify-content: center;
}

.question_box .timer .time_seconds {
    color: white;
    font: size 18px;
    font-weight: 500;
    padding: 5px;
    background-color: red;
    align-content: center;
    justify-content: center;
}

.question_box section {
    padding: 0 15px;
    margin-top: 10px;
}

.question_text {
    font-weight: 700;
    font-size: 18px;
}
.possible_answers .option {
    border-radius: 5px;
    border-style:solid;
    border-color: red;
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-content: center;
    cursor:pointer;
    transition: all 0.5s ease;
}

.possible_answers .option span {
    cursor: pointer;
}

.possible_answers .option:first-child {
    margin-top: 20px;
}

.possible_answers .option:last-child {
    margin-bottom: 3px;
}

.possible_answers .option:hover{
    background-color: red;
    font-weight: 600;
    color:white;
    border-color: #444444;
}

.summary_box {
    background-color: white;
    border-color: red;
    border-style:solid;
    border-radius: 5px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    text-align: center;
    flex-direction: column;
    width: 350px;
    display: none;
}
.summary_box .summary_text {
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
}
.summary_box .score_text span {
    display: flex; 
    margin: 10px;
    font-size: 18px;
    font-weight: 500px;
}

.summary_box .score_text span p {
    padding: 0 4px;
    font-weight: 700;
}
.replayBtn {
    margin-bottom: 3px;
    border-radius: 5px;
}

.replayBtn:hover {
    border-color: #444444;
}

.replayBtn button {
    padding: 0;
    border-radius: 5px;
    border-color: red;
    height: 45px;
    width: 120px;
    transition: all 0.5s ease;
    font-size: 20px;
}

.replayBtn button:hover{
    color: white;
    background-color: red;
    border-color: #444444;
    font-weight: 600;
}